
__pycache__/
*.py[cod]
*.pyo
*.pyd


.venv/
venv/
env/


.ipynb_checkpoints
.ipython/


data/raw/
data/interim/
data/processed/
models/
reports/figures/


logs/
*.log


.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/


.DS_Store
.vscode/
.idea/


*.tar
